
body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    background-color: #333;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}

/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    background-color: #333;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
}
h1, p {
    margin: 0;
}
